.info {
  display: flex;
  flex-direction: column;

  max-width: 600px;
  margin: 0 auto;

  & :global(.header) {
    margin: 0;
  }

  & :global(.icon-bar) {
    display: flex;
    align-items: flex-start;
    padding: 4px;
    & :global(.icon) {
      width: 25%;
      margin-top: -12.5%;
      padding: 4px;
      background-color: var(--color-background);
      border-radius: 25%;
      & img {
        border-radius: 25%;
        object-fit: contain;
      }
    }

    & :global(.follow) {
      margin-left: auto;
    }
  }

  & :global(.name) {
    font-weight: bold;
    font-size: 20px;
  }
}
