.PostsGrid {
  display: grid;
  margin: 0 10px;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  gap: 10px;

  & :global(.item) {
    display: flex;
    border: 1px solid var(--color-border-disable);
    border-radius: 5px;
    height: 300px;
    padding: 10px;

    & :global(.loading) {
      margin: auto;
    }
  }

  & :global(.item.loaded) {
    border: 1px solid var(--color-border);
  }
}
